{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<div class="content-section bg-dark text-white" style="border: 1px solid #dddddd; background-color: #ffffff">
    <form class="form-group" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Recipes</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            {% if 'update' in request.path %}
            <input class="btn btn-outline-success" type="submit" value="Update">
            {% else %}
            <input class="btn btn-outline-primary" type="submit" value="Add Recipe">
            {% endif %}
        </div>
    </form>
</div>
{% endblock main %}