{% load static %}
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-item" href="{% url 'home' %}">
                <img class="rounded-circle" src="{% static 'recipe/img/logo1.png' %}" width="40">
            </a>
            <a class="navbar-brand ml-3" href="{% url 'home' %}"><b>Recipes</b></a>
        </ul>
    </div>
</div>
